/* Default styles */
h1 {
    color: blue;
    font-size: 2rem;
    text-align: center;
    margin-bottom: 2rem;
}

.edu-list {
    list-style: none;
    color: var(--text-secondary);
}

.edu-item {
    background-color: var(--bg-secondary);
    display: flex;
    align-items: center;
    margin-bottom: 5rem;
    margin-left: 10rem;
    margin-right: 5rem;


    box-shadow: 0 4px 6px white;
    padding: 1rem;
    transition: transform 0.3s ease; /* Add transition effect for smooth enlargement */
}

.edu-item img {
    width: 10rem;
    height: 10rem;
    margin: 1rem;
    border: 3px dotted var(--text-secondary);
    background-color: white;
}

.edu-item p {
    flex: 1;
}

/* Media query for smaller screens */
@media screen and (max-width: 1000px) {
    .edu-item {
        flex-direction: column; /* Stack image and text vertically */
        padding: 1rem; /* Adjust padding for smaller screens */
        transition: none; /* Disable transition on smaller screens */
    }

    .edu-item img {
        width: 6rem; /* Reduce image width for smaller screens */
        height: 6rem; /* Reduce image height for smaller screens */
        margin: 1rem; /* Add margin below image for spacing */
    }

}

/* Enlarge edu-item on hover, except on smaller screens */
@media screen and (min-width: 1000px) {
    .edu-item:hover {
        transform: scale(1.1); /* Slightly enlarge the item on hover */
    }
}